.mat1 {
    max-width: 480px;
    top:17px;
    left: 200px;
    position: relative;
    
  }
  

  .mat2 {
    max-width: 480px;
    position: relative;
    left: 720px;
    top: -505px;
  }
  